<% provide(:title, "Edit Profile") %>
<div class="stylish-form">
<h1>Edit Profile</h1>
<%= form_for(@user) do |f| %>
	<%= render 'shared/error_messages', object: f.object %><br>
	<%= f.label :first_name %><br>
	<%= f.text_field :first_name %><br>
	<%= f.label :last_name %><br>
	<%= f.text_field :last_name %><br>
	<%= f.label :password %><br>
	<%= f.password_field :password %><br>
	<%= f.label :password_confirmation, "Confirm" %><br>
	<%= f.password_field :password_confirmation %><br>
	<%= f.label :timezone, "Time Zone" %><br>
	<%= f.time_zone_select :timezone, nil, include_blank: true %><br>
	<%= f.submit "Save settings" %>
<% end %>
<%= link_to "Delete Account", @user, method: :delete, data: { confirm: "Are you sure you want to delete your account? This action cannot be undone." } %>
</div>